@model IEnumerable<DFA_CORE.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"><i class="fa-solid fa-plus">Add</i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OQuantity)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.OId"><i class="fa-solid fa-pen-to-square"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.OId"><i class="fa-sharp fa-solid fa-circle-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.OId"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
